body{
    font-family: 'Roboto', sans-serif;
}
.flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}
.grid-container {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "information pciture right"
    "avatar about right";
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
}
.flex-container > div {
    width: 60px;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}
.nav-active{
    border-bottom: 1px solid black;
    margin-left: 2px;
}
.avatar {
    grid-area: avatar;
    align-self: end;
    text-align: end;
    margin-bottom: 40px;
    
}
.picture {
    grid-area: pciture;
    margin-top: 50px;
    margin-left: 5px;
    
}
.about {
    grid-area: about;
    align-self: end;
    margin-bottom: 40px;
    margin-left: 50px;
    display: grid;
    gap: 2px;
    grid-template-rows: 50px 10px 20px 20px 20px;
    grid-template-areas: 
    "Aboutme" 
    "empty"
    "description"
    "skills"
    "download"
    ;

}

.aboutme{
    grid-area: Aboutme;
}
.description{
    grid-area: description;
    font-size: medium;

}
.cv {
    grid-area: download;
    margin-bottom: 5px;
}
.skills{
    margin-top: 15px;
    grid-area: skills;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 10px;
    
}
.skill-box{
    border: 1px solid;
    height: 30px;
    border-radius: 10%;
    margin-bottom: 10px;
    
}
.picture > img {
    border-radius: 50%;
    margin-left: 50px;
    border: 10px solid rgb(216, 216, 216);
    box-shadow: 0 0 15px #000000;
    height: 200px;
    width: 200px;
}
.content {
    grid-area: information;
    text-align: center;
    margin-top: 50px;
    display: grid;
    gap: 2%;
    grid-template-rows: 19.2% 15.3% 15.3% 7.6% 7.6% 7.6% 7.6% 11.5% 7.6%;
    grid-template-areas: 
    "hire"
    "info"
    "subinfo"
    "empty"
    "email"
    "phone"
    "address"
    "empty1"
    "media"
    ;

}
.hire-button{
    grid-area: hire;
}
.hire-btn {
    background-color:#6fde79;
    height: 40px;
    width: 80px;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: cornsilk;
    font-family: 'Roboto';
}
.cv-btn {
    background-color:#6fde79;
    height: 40px;
    width: 120px;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: cornsilk;
    font-family: 'Roboto';
}
.cv > i {
    margin: 0px;
}

.name {
    grid-area: info;
    margin-left: 70px;

}
.designation {
    grid-area: subinfo ;
}
.email, .phone, .address , .media {
    display: flex;
    justify-self: center;
} 
.email {
    font-size: small;
    grid-area: email;
    margin-left: 120px;
}
.phone {
    font-size: small;
    grid-area: phone;
    margin-left: 60px;
}
.address {
    font-size: small;
    grid-area: address;
    margin-left: 75px;
}
.media {
    font-size: small;
    grid-area: media;
    margin-left: 80px;
}
div > h4 {
    margin-left: 50px;
}
i{
    margin-right: 25px;
}


@media screen and (max-width: 772px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid-container{
        grid-template-areas: 
        "pciture"
        "information"
        "about";
        grid-template-rows: 1fr 1fr 1fr;
        justify-self: center;
    }
    .picture{
        align-self: center;
        margin-left: 50px;
    
    }
    .about{
        align-self: center;
        margin-left: 120px;
    }
    .avatar{
        display: none;
    }
}